@model IEnumerable<WebApplication1.Models.Khoa>

@{
    ViewBag.Title = "Khoa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="color:blue; font-weight:bold; margin:50px 0">Danh Sách Khoa</h3>
<p>

    <a href="@Url.Action("ThemmoiKhoa","Admin")" class="btn btn-outline-success" role="button"><i class="fa fa-plus"></i> Thêm mới Khoa</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKhoa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            <td>
                <a href="@Url.Action("ChitietKhoa", "Admin", new { id = item.MaKhoa })" class="btn btn-success" role="button">Chi tiết</a>
                <a href="@Url.Action("SuaKhoa", "Admin", new { id = item.MaKhoa })" class="btn btn-primary" role="button">Sửa</a>
               
            </td>
        </tr>
    }

</table>
