@model IEnumerable<WebApplication1.Models.Lop>

@{
    ViewBag.Title = "Lop";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="color:blue; font-weight:bold; margin:50px 0">Danh Sách Lớp</h3>
<p>

    <a href="@Url.Action("ThemmoiLop","Admin")" class="btn btn-outline-success" role="button"><i class="fa fa-plus"></i> Thêm mới Lớp</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKhoa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoa)
            </td>
            <td>
                <a href="@Url.Action("ChitietLop", "Admin", new { id = item.MaLop })" class="btn btn-success" role="button">Chi tiết</a>
                <a href="@Url.Action("SuaLop", "Admin", new { id = item.MaLop })" class="btn btn-primary" role="button">Sửa</a>

            </td>
        </tr>
    }

</table>
