@model IEnumerable<WebApplication1.Models.SinhVien>

@{
    ViewBag.Title = "Sinhvien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="color:blue; font-weight:bold; margin:50px 0">Danh Sách Sinh Viên</h3>
<p>

    <a href="@Url.Action("ThemmoiSv","Admin")" class="btn btn-outline-success" role="button"><i class="fa fa-plus"></i> Thêm mới sinh viên</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachisv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoaisv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachisv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoaisv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>

                <a href="@Url.Action("ChitietSv", "Admin", new { id = item.Masv })" class="btn btn-success">Chi tiết</a>
                <a href="@Url.Action("SuaSv", "Admin", new { id = item.Masv })" class="btn btn-primary" role="button">Sửa</a>

            </td>
        </tr>
    }

</table>
